header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--items-gap);
}
header > nav {
  display: flex;
  align-items: center;
  gap: var(--items-gap);
  text-transform: uppercase;
  
  margin-right: 0.8rem;
  font-weight: 600;
}
.active{
  font-weight:900 ;
}
header > nav >.navlink{
  color: var(--color-background);
}

header > h1 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;

  color: var(--color-background);
}
